{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h3 class="mx-5 mt-5" style="color: #03540d;">Edit <span class="teal-text">{{object.name}}</span></h3>
    {% else %}
        <h3 class="mx-5 mt-5" style="color: #03540d;">Add Jockey</h3>
    {% endif %}
    <form action="" method='post'>
        {% csrf_token %}
        <table class="table mx-5 my-5">
            {{form.as_table}}
            
        </table>
        <input type="submit" value="Submit" class="btn btn-outline-success mx-5">
    </form>

{% endblock %}