{% extends 'base.html' %}
{% block content %}

<h1>Jockey Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ jockey.name }}</span>
        <p>Age: {{ jockey.age }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'jockeys_update' jockey.id %}">Edit</a>
       
      </div>
    </div>
  </div>
</div>

<h3>Horses</h3>  
{% if jockey.horses.count %}
  {% for horse in jockey.horses.all %}
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header bg-success bg-gradient"></div>
        <div class="card-body">
          <h5 class="card-title">{{horse.name }}</h5>
          <div class="card-text">
            <a href="{% url 'horses_detail' horse.id %}" class="btn btn-outline-success">See Details</a>
          </div>
        </div>
      </div>
  {% endfor %}
{% else %}
  <h5>No Horses Added</h5>
{% endif %}

{% endblock %}

