{% extends 'base.html' %}
{% block content %}


<h1>Horse Details</h1> 
<hr></hr>
<container id='horse-details-container'>
  <div class="card w-50 border-secondary">
    <h5 class="card-header bg-success bg-gradient">{{horse.name}}</h5>
    <div class="card-body">
      <h5 class="card-title">Age: {{horse.age}}</h5>
      <p class="card-text">Number of Races: {{horse.starts}}</p>
      <p class="card-text"> Sire: {{horse.sire}}</p>
      <p class="card-text"> Dam: {{horse.dam}}</p>
      <a href="{% url 'horses_update' horse.id %}" class="btn btn-outline-success">Update</a>
    </div>
  </div>
</container>
<hr></hr>
<div class="col s6">
  <form action="{% url 'add_outcome' horse.id %}" method="post">
    {% csrf_token %}
    {{ outcome_form.as_p }}
    <input type="submit" class="btn" value="Add Race Result">
  </form>
  <br>
  <table class="striped">
    <thead>
      <tr><th>Race</th><th>Date</th><th>Result</th></tr>
    </thead>
    <tbody>
      {% for outcome in horse.outcome_set.all %}
        <tr>
         <td>{{outcome.name}}</td>
          <td>{{outcome.date}}</td>
          <td>{{outcome.get_outcome_display}}</td>
        </tr>
        <form action="{% url 'add_feeding' cat.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn" value="Delete Race">
        </form>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}