{% extends 'base.html' %}
{% block content %}


<h1 class="mx-5 my-5">Horse Details</h1> 
<hr></hr>
<container id='horse-details-container'>
  <div class="card w-50 border-secondary mx-4 my-5 shadow">
    <h5 class="card-header bg-success bg-gradient">{{horse.name}}</h5>
    <div class="card-body">
      <h5 class="card-title">Age: {{horse.age}}</h5>
      <p class="card-text">Number of Races: {{horse.starts}}</p>
      <p class="card-text"> Sire: {{horse.sire}}</p>
      <p class="card-text"> Dam: {{horse.dam}}</p>
      <p class="card-text"> Description: {{horse.description}}</p>
      <a href="{% url 'horses_update' horse.id %}" class="btn btn-outline-success">Update</a>
      <a href="{% url 'horses_delete' horse.id %}" class="btn btn-outline-success">Delete</a>
    </div>
  </div>
</container>
<hr></hr>
<form action="{% url 'add_horse_outcome' horse.id %}" method="post">
  <div class="mx-5 my-5">
    {% csrf_token %}
    {{ outcome_form.as_p }}
    <input type="submit" class="btn btn-outline-success" value="Add Race Result">
  </div>  
</form>
</div>  
<hr></hr>
<table class="table w-75 mx-5 my-5">
  <thead>
    <tr><th scope="col">Race</th><th scope="col">Date</th><th scope="col">Result</th></tr>
  </thead>
  <tbody>
    {% for outcome in horse.outcome_set.all %}
      <tr>
        <td scope= "row">{{outcome.name}}</td>
        <td scope= "row">{{outcome.date}}</td>
        <td scope= "row">{{outcome.get_outcome_display}}</td>
        <td scope="row">
          <form action="{% url 'delete_horse_outcome' outcome.id %}" method="delete">
              {% csrf_token %}
              <input type="submit" class="btn btn-outline-success" value="Delete Race">
          </form>
        </td>  
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>  


{% endblock %}