{% extends 'base.html' %}
{% block content %}

<div id='home-headline'>
    <h1 class="mx-5 my-5" style="color: #03540d;">home page</h1>
</div>    
<container id='home-container'>

    <div class="card ml-5 mr-2 shadow w-50" style="background-color: #f6f6f6;">
        <div class="card-body">
            <h4 class="mx-2 my-2"  style="background-color: #f6f6f6; color: #03540d;">About</h4>
            <hr></hr>
            <p>Welcome to OffThePace, an easy way to track your favorite horses and jockeys! All information is user generated. If you make a mistake you can update your data points. If you wish to delete a horse or a jockey contact adminstration. We do not offer any betting services on this site.
        </div>    
    </div>
    <div class="card ml-2 mr-5 shadow w-50" style="background-color: #f6f6f6;">
        <div class="card-body">
            <h4 style="color: #03540d;">Today's Races</h4>
        </div>    
    </div>

</container>


{% endblock %}