{% extends 'base.html' %}
{% block content %}


<h1 class="mx-5 my-5">Jockey Details</h1> 
<hr></hr>
<container id='horse-details-container'>
  <div class="card w-50 mx-5 my-5 border-secondary">
    <h5 class="card-header bg-success bg-gradient">{{jockey.name}}</h5>
    <div class="card-body">
      <h5 class="card-title">Age: {{jockey.age}}</h5>
      <p class="card-text">Number of Races: {{jockey.starts}}</p>
      <p class="card-text">Bio: {{jockey.bio}}</p>
      <a href="{% url 'jockeys_update' jockey.id %}" class="btn btn-outline-success">Update</a>
    </div>
  </div>
</container>
<hr></hr>
<h5 class="mx-5 mt-5">Race History</h5> 
<div class="mx-5 my-5">
  <form action="{% url 'add_jockey_experience' jockey.id %}" method="post">
    {% csrf_token %}
    {{ experience_form.as_p }}
    <input type="submit" class="btn btn-outline-success" value="Add Race Result">
  </form>
</div>  

<h5 class="mx-5 mt-5">Results</h5> 
<table class="table w-75 mx-5 my-5">
  <thead>
    <tr><th scope="col">Race</th><th scope="col">Date</th><th scope="col">Result</th></tr>
  </thead>
  <tbody>
    {% for experience in jockey.experience_set.all %}
      <tr>
        <td scope="row">{{experience.name}}</td>
        <td scope="row">{{experience.date}}</td>
        <td scope="row">{{experience.get_experience_display}}</td>
        <td scope="row">
          <form action="{% url 'delete_jockey_experience' experience.id %}" method="delete">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-success" value="Delete Race">
          </form>
        </td>  
      </tr>  
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<hr></hr>

<div class="container">
  <div class="row">
    <div class="col-md">
      <h3 class="mx-3 my-3">{{ jockey.name }}'s Rides</h3>
        {% if jockey.horses.count %}
          {% for horse in jockey.horses.all %}
            <div class="card w-50 mx-2 my-3 ">
              <div class="card-content mx-2 my-3">
                <span class="card-title bg-success">
                  <p> {{ horse.name }} <p>
                  <form action="{% url 'unassoc_horse' jockey.id horse.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-success" value="Remove">
                  </form>
                </span>
              </div>
            </div>        
      {% endfor %}
    {% else %}  
      <h5 class="mx-3 my-3">No Horses Added!</h5>
    {% endif %}
    </div>
  </div>
  <!-- Available toys will come after this line -->
    <div class="col-md">
      <h3 class="mx-3 my-3">Available Rides</h3>
        {% if horses.count %}
          {% for horse in horses.all %}
            <div class="card w-50 mx-2 my-3 ">
              <div class="card-content mx-2 my-3">
                <span class="card-title bg-success">
                  <p> {{ horse.name }} <p>
                  <form action="{% url 'assoc_horse' jockey.id horse.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Add</button>
                  </form>
                </span>
              </div>
            </div> 
          {% endfor %}
        {% else %}
          <h5 class="mx-3 my-3">{{jockey.name}} has ridden all the horses in the database!</h5>
        {% endif %}
      </div>
    </div>

</div>

{% endblock %}